@charset "utf-8";

/*    
   Nur Sefferyna Binti Sefie@Seffe
   Date: 01 Jun 2021
   Filename: styles.css
*/

body {
   color: white;
   font-family: Roboto, Arial, sans-serif;
}

p.feed {
	color: black;
}

.grid-container > div{
	grid-template-columns: 680px 600px;
	display: grid;
	padding: 10px 5px;
	text-align: left;
}

.container {
  	position: relative;
  	text-align: center;
  	color: white;
  	display: flex;
  	height: 250px;
  }

.centered {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#personalinfo, #contactinfo, #feedbackinfo {
	background-color: rgb(214,234,248);
	padding: 10px;
}

legend {
	padding: 10px;
	background-color: #1c87c9;
}

label {
	color: black;
	display: inline-block;
   	width: 200px;
   	padding-right: 50px;
   	height: 25px;
   	vertical-align: top 
}

input, textarea {
	padding: 5px;
	width: 100%;
	border-radius: 8px;
}

input:focus{
	border-style: solid 2px;
	border-color: #43D1AF;
}

div.feeds {
	display: inline-block;
	padding: 5px;
	width: 90%;
	border-radius: 8px;
}

.button {
	background-color: #1ABC9C; 
	font-color:white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border: none;
}

